*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(129, 176, 191);
    color: white;
}

.btn{
    width: 100px;
}

#numeri{
    font-size: 30px;
}

#testo{
    text-align: center;
}